.articles-block {
    display: grid;
    grid-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    @include media ("<widescreen"){
        max-width: 795px;
    }
    @include media ("<desktop"){
        max-width: 755px;
    }
    @include media ("<tablet"){
        max-width: 380px;
    }
    @include media ("<phone"){
        max-width: 290px;
    }
    a {
        text-decoration: none;
        color: #000;  
    }
    .article {
        position: relative;
        border-bottom: 5px solid #41e9ff;
        margin-bottom: 80px;
        @include media ("<desktop"){
            margin-bottom: 30px;
        }
        .invisibly-large {
            position: absolute;
            top: 0px;
            max-width: 370px;
            height: 660px;
            padding: 298px 100px; 
            background: #000; 
            opacity: 0;
            transition: opacity 2s linear; 
            @include media ("<desktop"){
                padding: 298px 90px; 
                max-width: 350px;
            }       
            @include media ("<tablet"){
                padding: 150px 45px; 
                height: 360px;
            }
            @include media ("<phone"){
                max-width: 260px;
            }
            &:hover {
                opacity: 1;
            }
            p {
                border: 3px solid #41e9ff;
                width: 170px;
                min-height: 50px;
                transition: opacity 0.5s linear; 
                &:hover {
                    opacity: 0.7;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    height: 50px;
                    font-family: 'Righteous', cursive;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #41e9ff;   
                }
            }
        }
        .invisibly {
            position: absolute;
            top: 0px;
            max-width: 370px;
            height: 280px;
            padding: 100px; 
            background: #000;  
            opacity: 0;
            transition: opacity 2s linear; 
            @include media ("<desktop"){
                padding: 100px 90px;
                max-width: 350px;
            }  
            @include media ("<phone"){
                padding: 100px 45px; 
                max-width: 260px;
            }
            &:hover {
                opacity: 1;
            }
            p {
                border: 3px solid #41e9ff;
                width: 170px;
                min-height: 50px;
                transition: opacity 0.5s linear; 
                &:hover {
                    opacity: 0.7;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    height: 50px;
                    font-family: 'Righteous', cursive;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #41e9ff;   
                }
            }
        }
        .img-article-large {
            object-fit:cover;
            max-width: 370px;
            height: 660px;
            @include media ("<desktop"){
                max-width: 350px;
            }
            @include media ("<tablet"){
                height: 360px;
            }
            @include media ("<phone"){
                max-width: 260px;
            }
        }
        .img-article {
            object-fit:cover;
            max-width: 370px;
            height: 280px;
            @include media ("<desktop"){
                max-width: 350px;
            }
            @include media ("<phone"){
                max-width: 260px;
            }
        }
    }
    .wrapper-content {
        max-width: 363px;
        padding: 30px 20px;
        @include media ("<desktop"){
            max-width: 340px;
            padding: 15px 10px;
        }
        @include media ("<phone"){
            max-width: 250px;
        }
        a {
            &:hover {
                color: #08266b;
            }
        }
    }
    .comments {
        display: flex;
        justify-content: space-between;
        max-width: 165px;
        a {
            font-size: 10.82px;
            color: #787878;
        }
        img {
            margin-right: 6px;
        }
    }  
}
.btn-articles {
    border: 3px solid #41e9ff;
    width: 170px;
    min-height: 50px;
    margin: 0 auto 45px auto;
    transition: opacity 0.5s linear; 
    &:hover {
        opacity: 0.6;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 170px;
        height: 50px;
        font-family: 'Righteous', cursive;
        font-size: 18px;
        text-transform: uppercase;
        color: #41e9ff;  
    }
} 